* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


.container {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 60px;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(99, 99, 99, 0.05);
  padding: 0 70px;
}

.header .title {
  text-transform: uppercase;
}

.header i {
  margin-right: 20px;
}

.product-area {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #f9f9f9;
  top: 5px;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 500px;
  border-radius: 5px;
}

.main-photo {
  background-image: url("./img/card2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 750px;
  margin-right: 70px;
  border: 1px solid white;
  border-radius: 5px;
}

.sec-photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: 110px;
  margin: auto;  
  margin-top: 10px;
  margin-bottom: 10px;
}

.sphotos {
  width: 70px;
  height: 80px;
  border-radius: 5px;
  margin: 0 10px;
}

.sphotos:hover {
  cursor: pointer;
}

.sphotos:nth-child(1) {
  background-image: url("./img/card10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sphotos:nth-child(2) {
  background-image: url("./img/card11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sphotos:nth-child(3) {
  background-image: url("./img/card12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-details {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.p-details h2 {
  margin-bottom: 5px;
}

.p-details h4 {
  color: #b9b9b9;
  font-weight: 400;
  font-size: 14px;
  margin-top: 30px;
}

.price{
  margin-bottom: 20px;
  font-weight: bold;
}

.p-par {
  color: #d9d9d9;
  margin-left: 10px;
  font-size: 14px;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50px;
}

.sizes div {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.sizes div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

.button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
  color: black;
}

